@tailwind base;
@tailwind components;
@tailwind utilities;

body:not(.menu) #menu,
body:not(.game) #game,
body:not(.results) #results {
  display: none;
}

#deck {
  display: none;
}

#focused {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  text-align: center;
  padding: 1em 0;
  background-color: #e8e8e8;
}

#timeline {
  padding-top: 3em;
  list-style: none;
}

#timeline > * {
  margin: 2px 0;
}

#timeline li .year {
  font-size: 1.25em;
  font-family: monospace;
  display: inline-block;

  background-color: #ddd;
  padding: 2px 4px;
  margin-right: 0.25em;
}

#timeline li:last-child .year,
#timeline li:first-child .year {
  background-color: #eee;
}
